html, body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: sans-serif;
  background-image: linear-gradient(170deg, #212b35, #081018);
  color: #081018;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 4px;
}

#app {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes FadeInAnim {

  from {
    opacity: 0;
    transform: scale(0.95, 0.95);
  }
  
  to {
    opacity: 1;
    transform: scale(1, 1);
  }

}

@keyframes FadeUp {

  from {
    opacity: 0;
    transform: translateY(32px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.action-button {
  line-height: 64px;
  width: 64px;
  right: 32px;
  height: 64px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
  font-size: 24px;
  border-radius: 50%;
  bottom: 16px;
  background: #09EDC8;
  color: white;
}

.button {
  min-width: 128px;
  line-height: 40px;
  height: 40px;
  border: 1px solid white;
  padding: 0 32px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1000px;
  color: white;
}

.button.outline {
  color: #212b35;
  border: 1px solid #dfe3e8;
  background: none;
}

.button.primary {
  background: #00a2ff;
  border: 1px solid transparent;
  color: white;
}

.button.inverse {
  background: white;
  border: 1px solid #dfe3e8;
  color: #212b35;
}

.text-input label {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
  opacity: 0.5;
}

.text-input input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
}

.modal-underlay {
  position: absolute;
  background: rgba(23, 13, 15, 0.8);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
}

.modal-underlay .modal {
  top: 48px;
  transform: translateX(-50%);
  position: absolute;
  animation: ModalFadeIn 500ms ease;
  z-index: 100;
  box-shadow: shadow;
  border-radius: 4px;
  background: white;
  left: 50%;
}

.modal-underlay .modal .close {
  line-height: 26px;
  width: 32px;
  right: 24px;
  top: 24px;
  height: 32px;
  border: 2px solid black;
  text-align: center;
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}

.select {

}

.select label {
  color: #212b35;
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.select select {
  appearance: none;
  width: 100%;
  height: 56px;
  -webkit-appearance: none;
  user-select: none;
  border: 1px solid lightgrey;
  padding: 0 16px;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  background: white;
}

.selection-modal input {

}

.connection-modal-content {
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
}

.connection-modal-content .padded {
  padding: 32px;
}

.connection-modal-content h3 {
  font-size: 20px;
  letter-spacing: 1px;
}

.connection-modal-content .picker {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  margin: 52px 0 32px;
}

.connection-modal-content select {
  width: 420px;
}

.connection-modal-content .banner {
  align-items: center;
  background: #081018;
  height: 82px;
  display: flex;
  justify-content: flex-end;
}

.connection-modal-content .banner .button {
  margin-right: 32px;
  width: 136px;
}

.graffle-main {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.graffle-main .nodes {
  position: relative;
  height: 100%;
  flex: 1;
}

.graffle-main svg {
  height: 100%;
  width: 100%;
}

.graffle-main svg .relationship-line {
  transition: stroke 1000ms ease, stroke-width 1000ms ease;
}

.node.selected {

}

.node.selected .outline {
  background: #00a2ff;
  opacity: 1;
}

.node.selected .name {
  color: #00a2ff;
}

.node.deselected {

}

.node.deselected .outline {
  background: #a2a18a;
}

.node:hover .outline {
  padding: 16px;
}

.node {
  top: -1px;
  justify-content: center;
  transform-origin: 50% 50%;
  user-select: none;
  border: 1px solid transparent;
  align-items: center;
  padding: 8px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  transition: padding 800ms ease, border 250ms ease;
  background: rgba(255, 255, 255, 0.2);
  left: -1px;
}

.node:hover {
  padding: 24px;
}

.node .outline {
  background: #fff6c2;
  border-radius: 50%;
  border: 1px solid transparent;
  height: 16px;
  transition: background 1000ms ease, opacity 1000ms ease, padding 400ms ease;
  width: 16px;
}

.node .name {
  line-height: 100%;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  bottom: -40px;
  pointer-events: none;
  transition: color 1000ms ease;
  color: white;
  left: 50%;
}

.node .name span {
  color: rgba(255,255,255,0.5);
  display: block;
  font-size: 10px;
  text-align: center;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.add-resource {
  background: #00a2ff !important;
  bottom: 40px !important;
  right: 40px !important;
  transition: transform 500ms ease;
  z-index: 5;
}

.add-resource.hidden {
  transform: translateY(360px);
}

.add-resource.panel-open {
  transform: translateX(-360px);
}

.floating-menu {
  min-width: 128px;
  transform-origin: 50% 0;
  border: 1px solid #212b35;
  text-transform: uppercase;
  padding: 16px 32px;
  position: absolute;
  z-index: 20;
  font-weight: bold;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.6);
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 8px;
  perspective: 100px;
  display: none;
  transition: transform 300ms ease, opacity 300ms ease;
  background: white;
  color: #081018;
  opacity: 0;
}

.floating-menu.open {
  display: block;
  opacity: 1;
}

.floating-menu ol {
  list-style-type: none;
}

.floating-menu ol li {
  cursor: pointer;
  padding: 16px 0;
}

.floating-menu ol li:hover {
  color: #00a2ff;
}

.main {
  animation: FadeInAnim 500ms ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.main .main-content {
  display: flex;
  flex: 1;
  position: relative;
}

.main .main-content .workspaces {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main .main-content .workspaces icon {
  font-size: 18px;
  margin-right: 8px;
}

.main .main-content .workspaces .add-workspace {
  background: #141d26;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 16px 0 16px 29px;
  text-transform: uppercase;
  white-space: nowrap;
}

.main .main-content .workspaces .add-workspace icon {
  display: block;
  margin-left: auto;
  margin-right: 24px;
}

.main .main-content .graffle {
  animation: FadeUp 500ms ease;
  box-shadow: 5px 0px 25px 0 rgba(8, 16, 24, 0.3);
  flex: 1;
  position: relative;
  z-index: 2;
}

.main .main-content .graffle .workspace-title {
  color: white;
  font-size: 20px;
  left: 32px;
  position: absolute;
  top: 32px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.title-bar {
  height: 48px;
  align-items: center;
  padding: 32px;
  position: relative;
  z-index: 20;
  box-shadow: 0 2px 12px 0 rgba(8, 16, 24, 0.5);
  display: flex;
  background: #141d26;
  color: white;
}

.title-bar .disabled {
  pointer-events: none;
  opacity: 0.5;
}

.title-bar .import {
  cursor: pointer;
  flex: 1;
  font-size: 16px;
  margin-right: 56px;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
}

.title-bar .button {
  height: 48px;
  line-height: 48px;
}

.title-bar .button > img {
  margin-left: 8px;
}

.title-bar .workspace {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

.title-bar .more {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
  margin-left: auto;
  font-size: 14px;
  letter-spacing: 2px;
  display: block;
  background: #081018;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: sans-serif;
  background-image: linear-gradient(170deg, #212b35, #081018);
  color: #081018;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 4px;
}

#app {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.workspace-label {
  border-top: 1px solid #212b35;
  cursor: pointer;
  padding: 16px;
  position: relative;
}

.workspace-label:last-child {
  border-bottom: 1px solid #212b35;
}

.workspace-label .workspace-label-content:hover .more {
  display: block;
}

.workspace-label .workspace-label-content {
  font-size: 14px;
  position: relative;
  top: 0;
  line-height: 1.5em;
  transition: top 500ms ease;
  z-index: 1;
}

.workspace-label .workspace-label-content.open {

}

.workspace-label .workspace-label-content.open .label-open-arrow {
  transform: rotate(0);
}

.workspace-label .workspace-label-content.open .label-standard-content .inner {
  display: grid;
}

.workspace-label .workspace-label-content .label-open-arrow {
  transition: transform 500ms ease;
  transform: rotate(-90deg);
}

.workspace-label .workspace-label-content .floating-menu {
  top: 32px;
  right: 8px;
}

.workspace-label .workspace-label-content .label-standard-content {
  overflow: hidden;
}

.workspace-label .workspace-label-content .label-standard-content .outer {
  display: flex;
}

.workspace-label .workspace-label-content .label-standard-content .inner {
  display: grid;
  margin-left: 19px;
  height: 0;
  transition: height 500ms ease;
}

.workspace-label .workspace-label-content .label-standard-content .inner .workspace-label-resource {
  color: white;
  padding-top: 16px;
  white-space: nowrap;
}

.workspace-label .workspace-label-content .label-standard-content .inner .workspace-label-resource.selected {
  color: #00a2ff;
}

.workspace-label .workspace-label-content .label-standard-content .inner .workspace-label-resource.selected .dot {
  background: #00a2ff;
}

.workspace-label .workspace-label-content .label-standard-content .inner .workspace-label-resource .dot {
  width: 8px;
  top: -2px;
  height: 8px;
  margin-right: 16px;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: white;
}

.workspace-label .workspace-label-content .label-edit-content {
  position: relative;
}

.workspace-label .workspace-label-content .label-edit-content .enter-to-continue {
  color: #00a2ff;
  font-size: 12px;
  letter-spacing: 2px;
  right: 16px;
  top: 8px;
  position: absolute;
  text-transform: uppercase;
}

.workspace-label .workspace-label-content.selected {

}

.workspace-label .workspace-label-content .the-name {
  flex: 1;
  margin-left: 8px;
}

.workload-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.info-panel {
  width: 320px;
  right: 0;
  top: 0;
  margin: 32px;
  overflow-y: auto;
  transform: translateX(400px);
  position: absolute;
  z-index: 10;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.6);
  font-size: 14px;
  border-radius: 8px;
  bottom: 0;
  backdrop-filter: blur(10px);
  transition: transform 500ms ease;
  background: rgba(0,0,0,0.5);
  color: #b0bac9;
}

.info-panel .heading {
  border-bottom: 1px solid #212b35;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 24px;
}

.info-panel .heading .edit-resource {
  color: #00a2ff;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  text-transform: uppercase;
}

.info-panel p {
  margin-bottom: 16px;
}

.info-panel h2 {
  color: white;
  font-size: 16px;
}

.info-panel h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.info-panel h4 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 16px;
  text-transform: uppercase;
}

.info-panel h4:first-child {
  margin-top: 0;
}

.info-panel .info {
  display: grid;
  grid-gap: 24px;
  margin: 24px;
  white-space: pre-wrap;
}

.info-panel .resource {
  white-space: pre-wrap;
}

.info-panel .button {
  margin-bottom: 16px;
}

.info-panel.open {
  right: 0px;
  transform: translateX(0);
}

.side-panel {
  background: #081018;
  color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 64px;
  transition: width 500ms ease;
}

.side-panel.dark {
  background: black;
  color: white;
}

.side-panel.open {
  width: 320px;
}

.side-panel.open  > .side-panel-content {
  opacity: 1;
}

.side-panel h4 {
  letter-spacing: 1px;
  margin: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.side-panel .side-panel-content {
  height: 100%;
  max-height: 100%;
  min-width: 320px;
  opacity: 0;
  width: 100%;
  transition: opacity 500ms ease;
}

.side-panel .open-arrow {
  width: 14px;
  right: 27px;
  top: 26px;
  transform-origin: 50% 50%;
  text-align: center;
  transform: rotate(-180deg);
  position: absolute;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
  transition: transform 500ms ease;
}

.side-panel .open-arrow.open {
  transform: rotate(0);
}

.button {
  min-width: 128px;
  line-height: 40px;
  height: 40px;
  border: 1px solid white;
  padding: 0 32px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1000px;
  color: white;
}

.button.outline {
  color: #212b35;
  border: 1px solid #dfe3e8;
  background: none;
}

.button.primary {
  background: #00a2ff;
  border: 1px solid transparent;
  color: white;
}

.button.inverse {
  background: white;
  border: 1px solid #dfe3e8;
  color: #212b35;
}

.add-remove {
  animation: FadeInAnim 300ms ease;
  display: flex;
  position: absolute;
  right: 0;
  top: 16px;
}

.add-remove img {
  cursor: pointer;
  display: block;
  margin-right: 16px;
}

@keyframes FadeInAnim {

  from {
    opacity: 0;
    transform: scale(0.95, 0.95);
  }
  
  to {
    opacity: 1;
    transform: scale(1, 1);
  }

}

.editor-main {
  animation: FadeInAnim 500ms ease;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding: 64px 64px 32px;
  display: flex;
  flex-direction: column;
}

.editor-main h1 {
  color: white;
  margin-bottom: 32px;
}

.editor-main .bar {
  display: flex;
  margin-top: 32px;
}

.editor-main .bar .done {
  background: white;
}

.editor-main .bar .save {
  background: #00a2ff;
}

.left-right {
  display: grid;
  flex: 1;
  min-height: 0;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.left-right .text-edit {
  font-family: monospace;
  border: none;
  padding: 32px;
  outline: none;
  font-size: 12px;
  border-radius: 8px;
  resize: none;
  background: black;
  color: white;
}

.object-editor {
  position: relative;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  padding: 16px;
}

.object-editor.hover {
  border: 1px solid #00a2ff;
  box-shadow: 0 5px 25px 0 rgba(46, 91, 255, 0.4);
}

.object-editor  > span {
  display: block;
  padding: 8px;
  font-size: 16px;
  font-weight: normal;
}

.object-editor .element:hover img {
  display: block;
}

.object-editor .element {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto 32px;
  grid-gap: 8px;
  margin-bottom: 8px;
}

.object-editor .element img {
  display: none;
  position: relative;
  top: 8px;
}

.object-editor label {
  display: block;
}

.text-input label {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
  opacity: 0.5;
}

.text-input input {
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
}

.text-input input.error {
  border: 1px solid red;
}

.key-picker {
  right: 0;
  top: 0;
  position: fixed;
  animation: FadeInAnim 300ms ease;
  z-index: 2;
  font-size: 14px;
  bottom: 0;
  background: linear-gradient(170deg, #212b35, #081018);
  left: 0;
}

.key-picker .close {
  line-height: 26px;
  width: 32px;
  right: 64px;
  top: 32px;
  height: 32px;
  border: 2px solid white;
  text-align: center;
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  color: white;
}

.key-picker .button {
  position: absolute;
  bottom: -64px;
  right: 64px;
  transition: bottom 300ms ease;
  z-index: 2;
}

.key-picker .button.show {
  bottom: 32px;
}

.key-picker .content {
  display: grid;
  grid-template-columns: 61% 39%;
  height: 100%;
  max-height: 100%;
  transition: opacity 300ms ease;
}

.key-picker .content .description {
  line-height: 1.6em;
  max-width: 100%;
  overflow-y: auto;
  word-break: break-word;
  padding: 64px;
  text-overflow: ellipsis;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 5px 25px 0 #081018;
  background: black;
  max-height: 100%;
  color: #b0bac9;
}

.key-picker .content .description .fade {
  opacity: 0;
  animation: FadeInAnim 300ms ease forwards;
}

.key-picker .content h4 {
  margin-top: 16px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.key-picker .properties {
  color: #212b35;
  max-height: 100%;
  padding: 64px;
  overflow-y: auto;
}

.key-picker .properties h1 {
  color: white;
  margin-bottom: 32px;
}

.key-picker .property {
  margin: 12px;
  border: 1px solid transparent;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 750ms ease, border 250ms ease;
  background: #081018;
  color: white;
  list-style: none;
}

.key-picker .property span {
  color: #00a2ff;
}

.key-picker .property.selected {
  border: 1px solid #00a2ff;
  box-shadow: 0 5px 25px 0 rgba(46, 91, 255, 0.4);
}

.key-picker .property:hover {
  border: 1px solid #00a2ff;
}

.editor {
  width: 100%;
  overflow-y: auto;
  border: 1px solid #dfe3e8;
  padding: 16px;
  position: relative;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-radius: 8px;
  transition: box-shadow 500ms ease, border 500ms ease;
  background: white;
}

.editor.hover {
  border: 1px solid #00a2ff;
  box-shadow: 0 5px 25px 0 rgba(46, 91, 255, 0.4);
}

.editor .obj-add-remove {
  animation: FadeInAnim 300ms ease;
  display: flex;
  position: absolute;
  right: 0;
  top: 16px;
}

.editor .obj-add-remove img {
  cursor: pointer;
  display: block;
  margin-right: 16px;
}

.editor  > .add {
  line-height: 64px;
  width: 64px;
  height: 64px;
  text-align: center;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 5px 25px 0 rgba(46, 91, 255, 0.4);
  border-radius: 50%;
  bottom: 128px;
  background: #00a2ff;
  color: white;
  left: calc(50% - 96px);
}

.editor .kind {
  padding-right: 8px;
  max-height: 100%;
  font-weight: bold;
  font-size: 10pt;
}

.editor .kind > * {
  margin-top: 8px;
}

.editor .kind  > span {
  display: block;
  margin-top: 0;
  padding: 8px;
  font-size: 16px;
  font-weight: normal;
}

.array {
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  position: relative;
  padding: 16px;
}

.array.hover {
  border: 1px solid #00a2ff;
  box-shadow: 0 5px 25px 0 rgba(46, 91, 255, 0.4);
}

.array .array-add-remove {
  animation: FadeInAnim 300ms ease;
  display: flex;
  position: absolute;
  right: 0;
  top: 16px;
}

.array .array-add-remove img {
  cursor: pointer;
  display: block;
  margin-right: 16px;
}

.array  > span {
  display: block;
  padding: 8px;
  font-size: 16px;
  font-weight: normal;
}

.array .add-remove {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.array .add-remove .array-button {
  border: 1px solid #dfe3e8;
  cursor: pointer;
  font-weight: bold;
  padding: 4px;
}

.array .add-remove .add {
  background: green;
}

.array .add-remove .remove {
  background: red;
}