{:deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        cljsjs/js-yaml {:mvn/version "3.3.1-0"}
        cljsjs/filesaverjs {:mvn/version "1.3.3-0"}
        garden {:mvn/version "1.3.6"}
        konstellate/components {:git/url "https://github.com/konstellate/components"
                                :sha "c45cc14f1e2f454608c65007f45a0c8387114f48"}
        recurrent {:git/url "https://github.com/jeremykross/recurrent.git"
                   :sha "8cb9d28d6ac2f891463f6e2e6cf847bab4d50b80"}
        ulmus {:local/root "/home/jkross/Projects/ulmus"}}
               ;:git/url "https://github.com/jeremykross/ulmus.git"
               ;:sha "f75bc8febd2dc4b1d0189f8e46872bb5734a1574"}}
 :paths ["src" "target" "resources"]}

