{:deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        cljsjs/filesaverjs {:mvn/version "1.3.3-0"}
        garden {:mvn/version "1.3.6"}
        cljsjs/js-yaml {:mvn/version "3.3.1-0"}
        cljsjs/jszip {:mvn/version "3.1.3-0"}
        konstellate/components {:git/url "https://github.com/konstellate/components"
                                :sha "c45cc14f1e2f454608c65007f45a0c8387114f48"}
        konstellate/graffle {:local/root "/home/jkross/Projects/onion-graffle"}
        konstellate/editor {:local/root "/home/jkross/Projects/konstellate-editor"}
        recurrent {:local/root "/home/jkross/Projects/recurrent"}
                   ;:git/url "https://github.com/jeremykross/recurrent.git"
                   ;:sha "8cb9d28d6ac2f891463f6e2e6cf847bab4d50b80"}
        ulmus {:local/root "/home/jkross/Projects/ulmus"}}
               ;:git/url "https://github.com/jeremykross/ulmus.git"
               ;:sha "3d2c7afa3d7406dcaadcff2f98ddb8bb34aedd43"}}
 :paths ["src" "target" "resources"]}

