{:deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        cljsjs/filesaverjs {:mvn/version "1.3.3-0"}
        cljsjs/js-yaml {:mvn/version "3.3.1-0"}
        garden {:mvn/version "1.3.6"}
        cljsjs/jszip {:mvn/version "3.1.3-0"}
        konstellate/graffle {:git/url "https://github.com/containership/konstellate-graph"
                             :sha "d706ff06e9a34a9f1f09fc7231f0db1b3b902433"}
        konstellate/editor {:git/url "https://github.com/containership/konstellate-editor"
                             :sha "72c73b4bafba6ffd7627b84ac3b9eaf09cb21a76"}
        konstellate/components {:git/url "https://github.com/containership/konstellate-components"
                                :sha "99517a1f362b15605332800482bec7320dcf3799"}
        recurrent {:git/url "https://github.com/jeremykross/recurrent.git"
                   :sha "d4eed540de0e7c198a8c9f216df034147cf14e81"}
        ulmus {:git/url "https://github.com/jeremykross/ulmus.git"
               :sha "e5e71f231d9db0347a84bad859fdda20d1726f29"}}
 :paths ["src" "target" "resources"]}

