html, body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: sans-serif;
  background: #f4f6fc;
  color: #081018;
}

h1 {
  font-size: 32px;
  letter-spacing: 4px;
}

#app {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  min-width: 128px;
  line-height: 40px;
  height: 40px;
  border: 1px solid white;
  padding: 0 32px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1000px;
  color: white;
}

.button.outline {
  color: #212b35;
  border: 1px solid #dfe3e8;
  background: none;
}

.button.primary {
  background: black;
  border: 1px solid transparent;
  color: white;
}

.button.inverse {
  background: white;
  border: 1px solid #dfe3e8;
  color: #212b35;
}

.floating-menu {
  min-width: 256px;
  margin: 32px;
  transform-origin: 50% 0;
  border: 1px solid #d9e1ff;
  padding: 8px 0;
  transform: rotateX(32deg);
  position: absolute;
  box-shadow: 0 5px 25px 0 rgba(46, 91, 255, 0.4);
  border-radius: 4px;
  perspective: 100px;
  transition: transform 300ms ease, opacity 300ms ease;
  background: white;
  opacity: 0;
}

.floating-menu.open {
  opacity: 1;
  transform: rotateX(0deg);
}

.floating-menu ol {
  list-style-type: none;
}

.floating-menu ol li {
  cursor: pointer;
  font-weight: bold;
  padding: 16px;
  text-align: center;
}

.floating-menu ol li:hover {
  background: #00a2ff;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main .main-content {
  display: flex;
  flex: 1;
}

.main .main-content .workspaces {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main .main-content .workspaces icon {
  font-size: 18px;
  margin-right: 8px;
}

.main .main-content .workspaces .add {
  border-top: 1px solid #d9e1ff;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 16px 0 16px 29px;
}

.main .main-content .graffle {
  box-shadow: 5px 0px 25px 0 rgba(46, 91, 255, 0.4);
  flex: 1;
  z-index: 2;
}

.title-bar {
  background: white;
  border-bottom: 1px solid #d9e1ff;
  display: flex;
  align-items: center;
  height: 88px;
  padding: 32px;
  position: relative;
  z-index: 3;
}

.title-bar .workspace {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

.title-bar .more {
  cursor: pointer;
  display: block;
  margin-left: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: sans-serif;
  background: #f4f6fc;
  color: #081018;
}

h1 {
  font-size: 32px;
  letter-spacing: 4px;
}

#app {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.workspace-label {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.workspace-label .workspace-label-content:hover .close {
  display: block;
}

.workspace-label .workspace-label-content {
  line-height: 1.5em;
  font-size: 14px;
  transition: top 500ms ease;
  top: 0;
  background: white;
  z-index: 1;
  padding: 8px 32px;
  display: flex;
  position: relative;
}

.workspace-label .workspace-label-content.confirming {
  top: 56px;
}

.workspace-label .workspace-label-content.selected {
  background: lightblue;
}

.workspace-label .workspace-label-content .close {
  display: none;
}

.workspace-label .workspace-label-content icon {
  cursor: pointer;
  font-size: 18px;
}

.workspace-label .workspace-label-content .the-name {
  flex: 1;
}

.workspace-label .confirm {
  line-height: 1.5em;
  width: 100%;
  top: 0;
  height: 100%;
  align-items: center;
  padding: 0 32px;
  position: absolute;
  font-weight: bold;
  box-shadow: inset 0px 0px 25px rgba(46, 91, 255, 0.4);
  display: flex;
  background: red;
  color: white;
  left: 0;
}

.workspace-label .confirm label {
  margin-right: auto;
}

.workspace-label .confirm .btn {
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  text-align: center;
  width: 72px;
}

.workload-panel {
  flex: 1;
}

.side-panel {
  background: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 32px;
  transition: width 500ms ease;
}

.side-panel.open {
  width: 256px;
}

.side-panel.open  > .side-panel-content {
  opacity: 1;
}

.side-panel h4 {
  letter-spacing: 1.8px;
  margin: 32px 0 8px 32px;
}

.side-panel .side-panel-content {
  height: 100%;
  opacity: 0;
  width: 256px;
  transition: opacity 500ms ease;
}

.side-panel .open-arrow {
  width: 32px;
  top: 0;
  transform-origin: 50% 50%;
  text-align: center;
  position: absolute;
  margin-top: 8px;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
  transition: transform 500ms ease;
  left: 0;
}

.side-panel .open-arrow.open {
  transform: rotate(-180deg);
}